---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Demo Portfolio'>
<main class="dark h-screen w-screen flex flex-col justify-center items-center gap-4">
    <h1 class="text-7xl">404</h1>
    <p>page not found</p>
    <a class="light p-4 rounded-md" href="/">return to homepage</a>
</main>
</Layout>