---
// You can import images or data here if needed
const currentYear = new Date().getFullYear();
---
<footer class="light py-12 px-8  w-screen" transition:persist transition:animate="none">
  <div class="max-w-7xl mx-auto">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-12">
      
      <div class="flex flex-col gap-6">
        <div class="flex gap-4 text-xl">
          <a href="#" class="hover:opacity-80"><i class="ph-instagram-logo"></i></a>
          <a href="#" class="hover:opacity-80"><i class="ph-facebook-logo"></i></a>
          <a href="#" class="hover:opacity-80"><i class="ph-pinterest-logo"></i></a>
        </div>
        
        <nav class="flex flex-col gap-1 text-sm tracking-wide uppercase">
          <a href="/" class="hover:text-white transition-colors">home</a>
          <a href="/#about" class="hover:text-white transition-colors">about</a>
          <a href="/#contact" class="hover:text-white transition-colors">contact</a>
          <a href="/#gallery" class="hover:text-white transition-colors">featured photos</a>
          <a href="/gallery" class="hover:text-white transition-colors">all photos</a>
          <!-- <a href="/faq" class="hover:text-white transition-colors">info & faq</a> -->
          <!-- <a href="/blog" class="hover:text-white transition-colors">blog</a> -->
          <!-- <a href="/shop" class="hover:text-white transition-colors">print shop</a> -->
        </nav>
      </div>
      <p class="text-3xl">PHOTOGRAPHER</p>
      <div class="flex flex-col items-center text-center justify-center">
        <img src="/pfp.jpg" alt="The Hearnes Photography" class="h-32 w-auto mb-4" />
      </div>

      
    </div>

    <div class="mt-16 text-center text-[10px] opacity-70 tracking-widest leading-loose font-mono">
      <p>© 2025–{currentYear} THE 67 PHOTOGRAPHY</p>
      <p>WEB DESIGN BY <a href="https://hsn.is-a.dev/">HASANUR RAHMAN</a></p>
      <div class="mt-4 flex justify-center">
         <span class="inline-block border-b border-[#d9c5b2] w-6 opacity-40"></span>
      </div>
    </div>
  </div>
</footer>