---

---

<div class="con w-screen h-screen relative">
  <main id="hero" class="w-screen h-screen fixed">
    <img
      src="hero.jpg"
      alt="Hero banner - Hasanur Rahman professional photographer capturing memories"
      id="hero-image"
      class="w-screen h-screen object-fill"
      loading="eager"
      fetchpriority="high"
    />
    <!-- <div class="absolute top-[70vh] md:left-8 left-4"> -->
    <div
      id="main-con"
      class="absolute top-0 w-screen h-screen flex justify-center items-center flex-col"
    >
      <h1 id="main-title" class="md:text-6xl text-4xl">Capture Memories</h1>
      <h1 id="main-title" class="text-sm">with</h1>
      <h1 id="main-title" class="md:text-2xl text-xl">hasanur rahman</h1>
      <!-- <button id="main-button" class="">see more</button> -->
    </div>
  </main>
</div>

<script>
  // import gsap from "gsap";
  // import { ScrollTrigger } from "gsap/ScrollTrigger";

  // gsap.registerPlugin(ScrollTrigger);
  // gsap.to("#hero", {
  // // gsap.to("#hero-image", {
  //   scrollTrigger: {
  //     start: "top top",
  //     trigger: "#hero-image",
  //     scrub: true,
  //   },
  //   y: 350,
  // });
    // gsap.to("#hero", {
    //   scrollTrigger: {
    //     start: "top top",
    //     trigger: "#hero",
    //     scrub: true,
    //   },
    //   y: 150,
    // });
</script>

<style>
  #main-con #main-title,
  #main-con button {
    font-optical-sizing: auto;
    font-family: "EB Garamond", serif;
    font-family: "ColitezSerif", serif;
    font-weight: 100;
    font-style: normal;
    mix-blend-mode: difference;
    color: rgb(161, 161, 161);
  }
  #main-button {
    text-decoration: underline;
  }
</style>
